@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(images/background.png);
    box-shadow: 1px 2px 70px rgba(0,0,0,0.4);
    background-size: cover;
}

nav {
    padding: 30px 3%;
    display: flex;
    align-items: center;
    height: 5px;
    width: 102.7em;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    padding: 0;
    color: #fff;
    font-family: Calibri;
    position: relative;
    font-size: 18px;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
    background: #fff;
}

.logo {
    width: 32px;
    cursor: pointer;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
    margin: 0 20px;
}

.social-media a {
    text-decoration: none;
    padding: 0;
    color: #fff;
    font-family: Calibri;
    position: relative;
    font-size: 18px;
    margin: 0 25px;
}

.social-media a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

.social-media a:hover::after {
    width: 50%;
    background: #fff;
}

.social-media {
    transform: rotate(90deg) translate(-100%);
    transform-origin: left;
    position: absolute;
    bottom: 6em;
    left: 3%;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7em;
    height: 51.2em;
    width: 2px;
    margin-top: 1em;
    margin-bottom: 5em;
    background: rgba(255, 255, 255,0.9);
}

.row {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 8%;
}

.row span {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 18px;
}

.row span img {
    width: 15px;
    margin-right: 15px;
}

.content {
    font-size: 22px;
}

.content h1 {
    font-size: 75px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.row span {
    font-size: 20px;
    margin-bottom: 20px;
}

.row span img {
    width: 25px;
    margin-left: -10px;
    margin-right: 10px;
}

.info {
    position: relative;
}

.info::before {
    content: '';
    background: rgba(255,255,255,0.9);
    height: 100%;
    width: 2px;
    position: absolute;
    top: 2px;
    left: -30px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    width: 75%;
    left: 12.5%;
}

.arrow.img {
    width: 5px;
    cursor: pointer;
}

.wrapper {
    position: absolute;
    bottom: 15em;
    left: 15em;
    display: flex;
}

.wrapper .button {
    height: 60px;
    width: 60px;
    margin: 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}

.wrapper .button:nth-child(4) span {
    color: #333;
}

.wrapper .button:nth-child(5) span {
    color: #ff0000;
}
